<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editdata?id=<%=editData.id%>" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter Movie Name" name="name" value="<%=editData.name%>">
        <input type="text" placeholder="Enter Movie Category" name="category" value="<%=editData.category%>">
        <input type="text" placeholder="Enter Movie Rating" name="rating" value="<%=editData.rating%>">
        <img src="../movieimages/<%=editData.image%>" alt="" width="100">
        <input type="file" placeholder="Enter Image" name="image">
        <button type="submit">Submit</button>
    </form>
</body>
</html>