
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
   
</head>

<body>
   
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
   
    <div id="main-wrapper">
       
        <%-include('Header')%>
     
        <%-include('Aside')%>
      
        <div class="page-wrapper">
           
            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-12">
                    
                        <div class="card">
                            <button style="padding: 8px; border: none;"><a href="/form-basic" style="color: white; background-color: blue; padding: 5px; border-radius: 8px;">ADD NEW PRODUCT</a></button>
                            <div class="card-body">
                                <h5 class="card-title">Products Details</h5>
                                
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Image</th>
                                                <th style="text-align: center;">Name</th>
                                                <th style="text-align: center;">Price</th>
                                                <th style="text-align: center;">Company</th>
                                                <th style="text-align: center;">Category</th>
                                                <th style="text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <%product.map((el, i)=>{%>
                                                <tr role="row" class="odd">
                                                    <td style="text-align: center;"><img src="../productimages/<%=el.image%>" alt="" height="100" width="100"></td>
                                                    <td style="text-align: center;"><%=el.name%></td>
                                                    <td style="text-align: center;"><%=el.price%></td>
                                                    <td style="text-align: center;"><%=el.company%></td>
                                                    <td style="text-align: center;"><%=el.category%></td>
                                                    <td style="text-align: center; display: flex; justify-content: space-evenly;"><a href="/edit?id=<%=el.id%>" style="text-decoration: none;">Edit</a> <a href="/delete?id=<%=el.id%>" style="color: red;">Delete</a></td>
                                                </tr>    
                                            <%})%>
                                        
                                            
                                        </tbody>
                                    
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
          
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
           
        </div>
       
    </div>
    
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>
