<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .main {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: white;
        }

        form {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            background-color: black;
            border-radius: 12px;
        }
        .data{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 10px 0px;
        }

        input {
            width: 40%;
            padding: 10px;
            border: none;
            border-radius: 8px;
        }
        input::placeholder{
            text-align: center;
        }

        button {
            padding: 10px 10px;
            font-weight: bold;
            border: none;
            border-radius: 12px;
        }

        .output {
            height: auto;
            max-width: 70%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            place-items: center;
            gap: 10px;
        }

        .box {
            border: 1px solid white;
            height: 400px;
            text-align: center;
            position: relative;
            background-color: black;
            max-width: 350px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 0px 15px black;
        }

        .box img {
            width: 100%;
            height: 50%;
        }

        h3 {
            margin: 5px 0px;
            color: white;
        }

        b {
            margin-top: 30px;
            color: white;
            font-size: 14px;
        }

        span {
            position: absolute;
            top: 1%;
            left: 2%;
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 25px;
            font-size: 12px;
        }

        h6 {
            position: absolute;
            top: 1%;
            right: 2%;
            background-color: black;
            padding: 5px;
            color: white;
            border-radius: 18px;
            font-size: 12px;
        }

        .details {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 40px 0px;
            color: white;
            padding: 5px;
        }
        h4, p{
            font-size: 13px;
        }

        .action {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            bottom: 2%;
        }

        button {
            width: 40%;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            padding: 0px 30%;
        }
    </style>
</head>

<body>
    <div class="main">
        <form action="/Insert" method="post">
            <h3 style="text-decoration: underline orangered 3px;">Book Insert Data Form</h3>
            <br>
            <input type="url" placeholder="Enter Book Image" name="image">
            <br>
            <div class="data">
                <input type="text" placeholder="Enter Book Name" name="title">
                <input type="text" placeholder="Enter Book Author" name="author">
            </div>
            <div class="data">
                <input type="text" placeholder="Enter Book Publish year" name="published">
                <input type="text" placeholder="Enter Book Pages" name="pages">
            </div>
            <div class="data">
                <input type="text" placeholder="Enter Book Price" name="price">
                <input type="text" placeholder="Enter Books Number of Copies" name="copiesofpublished">
            </div>
            <br>
            <button class="form-btn" type="submit">Submit</button>
            <br>
        </form>

        <div class="output">
            <%data.map((el, i)=> {%>
                <div class="box">
                    <img src="<%=el.image%>" alt="">
                    <h3> Book Title:
                        <%=el.title%>
                    </h3><br>
                    <b>Book Author:
                        <%=el.author%>
                    </b>
                    <div class="details">
                        <h4>Published Year:
                            <%=el.published%>
                        </h4>
                        <p>Book Pages:
                            <%=el.pages%>
                        </p>
                    </div>

                    <span>
                        ₹ <%=el.price%>
                    </span>
                    <h6>Book Copies:
                        <%=el.copiesofpublished%>
                    </h6>
                    <div class="action">
                        <button class="action-btn"><a href="/Edit?id=<%=el.id%>">Edit</a></button>
                        <button class="action-btn"><a href="/Delete?id=<%=el.id%>">Delete</a></button>
                    </div>
                </div>
                <%})%>
        </div>

    </div>
</body>

</html>