<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student Data</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: lightslategray;

        }
        h1{
            padding: 10px;
            width: 80%;
            background-color: #000;
            border-radius: 4px 4px 0px 0px;
            text-shadow: 0px 0px 8px white;
            text-align: center;
            /* box-shadow: inset 0px 0px 12px 6px aqua; */
        }
        form {
            height: 200px;
            width: 300px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding: 15px;
            background-color: cadetblue;
        }
        input {
            padding: 10px;
            margin: 15px 0px;
            border-radius: 8px;
            border: none;
            outline: none;
        }
        button {
            padding: 10px;
            margin: 15px 0px;
            background-color: black;
            color: white;
            border-radius: 8px;
            border: none;
        }
        table{
            padding: 10px;
            border: 1px solid #000;
            margin: 15px 0px;
        }
        th{
            padding: 5px;
            border: 1px solid black;
            background-color: beige;
            text-align: center;
        }
        td{
            padding: 5px;
            border: 1px solid black;
            background-color: blanchedalmond;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Edit Student Data</h1>
    <form action="/EditData?userid=<%= student.taskid %>" method="post">
        <input placeholder="Enter ID" name="id" value="<%= student.taskid %>" readonly>
        <input placeholder="Enter Name" name="name" value="<%= student.taskname %>">
        <button>Submit</button>
    </form>

    <table>
        <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    
            <tr>
                <td><%= student.taskid %></td>
                <td><%= student.taskname %></td>
           
            </tr>
   
    </table>
</body>
</html>
