<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Universal Movie</title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        body {
            background: linear-gradient(90deg, #1f1f1f, #333);
            color: #fff;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            background-color: #000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .logo img {
            width: 120px;
            border-radius: 8px;
        }

        .search {
            padding: 10px;
            width: 350px;
            border-radius: 8px;
            border: none;
            background: #fff;
            color: #333;
        }
        #search{
            display: none;
        }

        .addbtn {
            background-color: #e91e63;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .addbtn a {
            color: #fff;
            text-decoration: none;
        }

        .addbtn:hover {
            background-color: #c2185b;
        }

        .main {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .products-box {
            height: auto;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            place-items: center;
            row-gap: 30px;
        }

        .product {
            height: 450px;
            max-height: 650px;
            width: 300px;
            max-width: 450px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 0px 5px #fff;
            position: relative;
            box-shadow: 0px 0px 15px black;
        }

        .product:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
        }

        .product-img {
            width: 100%;
            height: 65%;
            object-fit: cover;
            transition: opacity 0.3s;
        }

        .info {
            height: 35%;
            width: 100%;
            padding: 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .info h3 {
            margin: 0;
            font-size: 20px;
            color: #e91e63;
            width: 100%;
            text-align: center;
        }

        .info strong {
            display: block;
            margin: 10px 0;
            color: #fff;
            width: 100%;
            text-align: center;
        }

        .info p {
            margin: 0;
            color: #e1e1e1;
            font-size: 16px;
            width: 100%;
            text-align: center;
        }

        .button {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        .button button {
            background: #e91e63;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button button:hover {
            background-color: #c2185b;
        }

        .button a {
            color: white;
            text-decoration: none;
        }

        .search-form {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .sort-select {
            padding: 10px;
            border-radius: 8px;
            border: none;
            background: #fff;
            color: #333;
        }
        footer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000;
            padding: 20px 5px;
        }
        footer p{
            text-align: center;
        }
        .social{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .social span{
            font-size: 15px;
            color: grey;
            font-weight: 500;
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .icon a{
            text-decoration: none;
            color: #e91e63;
        }
        a i{
            font-size: 20px;
        }


        @media only screen and (max-width: 720px){
            body{
                background: linear-gradient(180deg, #1f1f1f, #333);
            }
            .main{
                padding: 20px 5px;
            }
            .sort-select{
                display: none;
            }
            header{
                padding: 15px 5px;
            }
            .logo{
                width: 25%;
            }
            .logo img{
                width: 100%;
            }
            .search{
                display: none;
            }
            #search{
                display: block;
                width: 100%;
            }
            .search-form{
                display: flex;
                flex-direction: column;
                width: 70%;
                align-items: end;
            }
            .products-box{
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }
        }


        @media only screen and (min-width: 721px) and (max-width: 1200px){
            body{
                background: linear-gradient(180deg, #1f1f1f, #333);
            }
            .sort-select{
                display: none;
            }
            header{
                padding: 15px 5px;
            }
            .logo{
                width: 25%;
            }
            .logo img{
                width: 100%;
            }
            .products-box{
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                column-gap: 30px;
            }
        }

    </style>


</head>

<body>
    <header>
        <div class="logo">
            <img src="../images/logo2.jpeg" alt="" class="logo-img">
        </div>
        <form action="/" method="GET" class="search-form">
            <input type="text" name="search" placeholder="Search Movies" class="search" value="<%= search || '' %>">
            <select name="sort" class="sort-select">
                <option value="">Sort by</option>
                <option value="ratingAsc" <%=sort==='ratingAsc' ? 'selected' : '' %>>Rating: Low to High</option>
                <option value="ratingDesc" <%=sort==='ratingDesc' ? 'selected' : '' %>>Rating: High to Low</option>
                <option value="nameAsc" <%=sort==='nameAsc' ? 'selected' : '' %>>Name: A to Z</option>
                <option value="nameDesc" <%=sort==='nameDesc' ? 'selected' : '' %>>Name: Z to A</option>
            </select>
            <button class="addbtn"><a href="/adding">Add Movie <i class="fa-solid fa-circle-plus" style="color: greenyellow; font-size: 18px;"></i></a></button>
            <input type="text" name="search" placeholder="Search Movies" class="search" id="search" value="<%= search || '' %>">
        </form>
    </header>
    <div class="main">
        <div class="products-box">
            <%data.map((el, i)=>{%>
                <div class="product">
                    <img src="<%=el.image.startsWith('http') ? el.image :( '../movieimages/' + el.image)%>"
                        class="product-img" alt="">
                    <div class="info">
                        <h3>
                            <%=el.name%>
                        </h3>
                        <strong>
                            <%=el.category%>
                        </strong>
                        <p>
                            <%=el.rating%> <i class="fa-solid fa-star"></i>
                        </p>
                        <div class="button">
                            <button><a class="action" href="/editdata?id=<%=el.id%>">Edit Movie</a></button>
                            <button class="delete"><a class="action" href="/delete?id=<%=el.id%>">Delete
                                    Movie</a></button>
                        </div>
                    </div>
                </div>
                <%})%>

        </div>
    </div> <br>
    <footer>
        <p>Copyrights © 2024 Brijesh Bhuva All Rights Reserved.</p>
        <br>
        <div class="social">
            <span>Connect with me : &nbsp; </span>
            <div class="icon">
                <a href="https://github.com/BRIJESHxBHUVA" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;
                <a href="www.linkedin.com/in/brijesh-bhuva-b0a771279" target="_blank"><i class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com/brijesh__18/?igsh=MTRubTg0Z3N2YnI0Zw%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;
            </div>
        </div>
    </footer>
</body>

</html>